.minimog-widget-nice-select,
.minimog-nice-select {
	display: none;
}

.minimog-fake-select-wrap {
	display: inline-block;
	position: relative;
	text-align: left;

	.minimog-fake-select-current {
		@extend %NormalTransition;
		display: flex;
		align-items: center;
		font-size: 15px;
		font-weight: 500;
		background: #f8f8f8;
		border: 1px solid #f8f8f8;
		color: #ababab;
		padding: 3px 40px 3px 16px;
		min-height: 48px;
		max-width: 100%;
		border-radius: $form-input-radius;
		cursor: default;

		&:after {
			@extend %FontAwesomeRegular;
			content: '\f107';
			color: #333;
			font-size: 18px;
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
		}

		.label {
			margin-right: 4px;

			&:before {
				margin-right: 16px;
			}
		}

		.value {
			color: #333;
		}
	}

	.minimog-fake-select {
		@extend %NormalTransition;
		position: absolute;
		top: 20px;
		left: 0;
		z-index: 9999;
		list-style-type: none;
		margin: 0;
		padding: 5px 0;
		background: #f8f8f8;
		border: 0;
		border-radius: 5px;
		visibility: hidden;
		opacity: 0;
		min-width: 100%;
		box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
		color: #333;
		font-weight: 500;

		li {
			position: relative;
			cursor: pointer;
			user-select: none;
			padding: 5px 30px;
			margin: 0;

			&:hover {
				color: #fff;

				&:before {
					color: #fff !important;
				}
			}

			&.selected {
				&:before {
					@extend %FontAwesomeSolid;
					content: '\f00c';
					position: absolute;
					top: 12px;
					left: 10px;
					font-size: 12px;
				}
			}
		}
	}

	&.focused {
		.minimog-fake-select {
			visibility: visible;
			opacity: 1;
		}
	}

	&.focused .minimog-fake-select-current,
	.minimog-fake-select-current:hover {
		color: #777;
		background: #fff;
	}
}
