.minimog-progress {
	.progress-title {
		font-size: 18px;
		font-weight: 600;
		color: #3f3a64;
		margin: 0 0 16px
	}

	.progress-bar-wrap {
		height: 32px;
		border-radius: 30px;
		background: #f2f2f2;
		padding: 6px;
	}

	.progress-bar {
		position: relative;
		height: 100%;
		border-radius: inherit;
		background: #20ad96;
	}

	.progress-value {
		position: absolute;
		top: 50%;
		margin-top: 1px;
		right: 10px;
		transform: translate(0, -50%);
		color: #fff;
		font-size: 12px;
		font-weight: 700;

	}

	.single-progress-bar {
		+ .single-progress-bar {
			margin: 50px 0 0;
		}
	}
}
