// Override default style from Elementor.
.elementor-widget-countdown {
	&.minimog-countdown-style-01 {
		.elementor-countdown-digits {
			font-size: 18px;
			font-weight: 700;
			line-height: 1;
		}

		.elementor-countdown-item {
			vertical-align: middle;
			padding: 0;
			line-height: 1;

			+ .elementor-countdown-item {
				position: relative;

				&:before {
					position: absolute;
					top: 50%;
					left: -8px;
					content: ':';
					font-size: 18px;
					font-weight: 700;
					color: #3f3a64;
					transform: translateY(-50%);
				}
			}
		}
	}
}
