.DS_Store
.idea
composer.lock
sourcemap
/dist/
/documentation/
/vendor/
/wpcs/
/bower_components/
/node_modules/
/update/*.zip
.sync
Iconr
/TODO.md
/src/minimog/style.css
/src/minimog/style.min.css
/src/minimog/assets/admin/css/style.css
/src/minimog/assets/admin/css/style.min.css
/src/minimog/rtl.css
/src/minimog/rtl.min.css
/src/minimog/editor-style.css
/src/minimog/editor-style.min.css
/src/minimog/editor-style-rtl.css
/src/minimog/editor-style-rtl.min.css
/src/minimog/woocommerce.css
/src/minimog/woocommerce.min.css
/src/minimog/editor-elementor.css
/src/minimog/editor-elementor.min.css
/src/minimog-child-demo/style.css
/src/minimog/assets/admin/css/elementor-editor.css
/src/minimog/assets/admin/css/elementor-editor.min.css
/src/minimog/assets/js/jquery.sticky-kit.min.js
/src/minimog/style-rtl.css
