.page-content {
  .widget-title {
	 font-size: 16px;
	 font-weight: 600;
	 margin-bottom: 22px;
  }

  .widget {
	 + .widget {
		margin: 60px 0 0;
	 }
  }
}

.page-sidebar {
  .page-sidebar-inner {
	 height: 100%;
  }

  .widget {
	 border-radius: 5px;
  }

  .elementor-section.elementor-section-boxed > .elementor-container {
	 padding-left: 0 !important;
	 padding-right: 0 !important;
  }

  input,
  select,
  textarea {
	 background-color: #fff;
	 border-color: #fff;
  }

  input[type='text'],
  input[type='email'],
  input[type='url'],
  input[type='password'],
  input[type='search'],
  input[type='number'],
  input[type='tel'],
  select {
	 min-height: 40px;
  }
}

.widget {
  ul {
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
  }

  li {

	 + li {
		margin-top: 10px;
	 }
  }
}

.insight-core-bmw,
.widget_nav_menu,
.widget_pages,
.widget_categories,
.widget_product_categories {
  ul {
	 ul {
		margin-left: 10px;
	 }
  }
}

.insight-core-bmw,
.widget_nav_menu {
  a:empty {
	 display: none;
  }

  .sub-menu {
	 margin-top: 14px;
  }
}

.page-sidebar {
  .insight-core-bmw {
	 padding: 0;
	 border: 0;

	 li {
		margin-top: 0;

		+ li {
		  margin-top: -1px;
		}

		&:first-child {
		  > a {
			 border-top-left-radius: 5px;
			 border-top-right-radius: 5px;
		  }
		}

		&:last-child {
		  > a {
			 border-bottom-left-radius: 5px;
			 border-bottom-right-radius: 5px;
		  }
		}

		> a {
		  position: relative;
		  display: block;
		  padding: 13px 30px;
		  border: 1px solid #eee;

		  &:before {
			 @extend %NormalTransition;
			 @extend %FontAwesomeSolid;
			 content: '\f111';
			 font-size: 4px;
			 position: absolute;
			 top: 50%;
			 transform: translate(0, -50%);
			 left: 16px;
			 color: #ababab;
		  }
		}

		&:hover,
		&.current-menu-item {
		  a {
			 color: #fff;

			 &:before {
				color: #fff;
			 }
		  }
		}
	 }
  }
}

.widget_pages,
.widget_archive,
.widget_categories,
.widget_product_categories {
  .children {
	 margin-top: 10px;
  }

  li {
	 a {
		position: relative;

		&:hover {
		  text-decoration: underline;
		  .count {
			 color: #000;
		  }
		}
	 }
  }

  .count {
	 @extend %NormalTransition;
	 display: inline-block;
	 color: #666666;
	 font-size: 12px;
	 transform: translateY(-10px);
  }
}

.widget_recent_comments {
  .recentcomments{
	 padding-left: 24px;
	 font-weight: 300;
	 line-height: 1.63;
	 > a{
		font-weight: 500;
	 }
  }
  .comment-author-link {
	 position: relative;
	 display: block;
	 font-size: 16px;
	 font-weight: normal;
	 > a{
		font-weight: normal;
	 }

	 &:before {
		@extend %FontAwesomeLight;
		content: '\f4ad';
		font-size: 15px;
		line-height: 0;
		position: absolute;
		top: 14px;
		right: 100%;
		margin-right: 7px;
	 }
  }
}

.widget_recent_entries {

  .widget-title {
	 margin-bottom: 9px;
  }

  li {
	 margin: 0 !important;

	 a {
		display: block;
		position: relative;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.78;
		padding: 16px 0 15px 30px;
		color: #696969;

		&:before,
		&:after {
		  @extend %FontAwesomeSolid;
		  @extend %NormalTransition;
		  content: '\f30b';
		  position: absolute;
		  top: 24px;
		  left: 0;
		  font-size: 15px;
		}

		&:after {
		  opacity: 0;
		  visibility: hidden;
		  transform: translateX(-100%);
		}

		&:hover {
		  &:before {
			 opacity: 0;
			 visibility: hidden;
			 transform: translateX(100%);
		  }

		  &:after {
			 opacity: 1;
			 visibility: visible;
			 transform: translateX(0);
		  }
		}
	 }

	 + li {
		border-top: 1px solid #eee;
	 }
  }

  .post-date {
	 position: relative;
	 display: block;
	 font-size: 15px;
	 font-weight: 500;
	 padding-left: 25px;
	 margin-top: 17px;

	 &:before {
		@extend %FontAwesomeLight;
		font-size: 16px;
		content: '\f073';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	 }
  }
}
