.widget_rss {
	.widget-title {
		a {
			color: inherit;
		}
	}

	li {
		+ li {
			margin-top: 25px;
		}

		a {
			font-size: 15px;
			color: #333;
			line-height: 1.5;
			font-weight: 700;
		}
	}

	.rsswidget {
		display: inline-block;
	}

	.rss-widget-icon {
		display: block;
		margin-right: 6px;
	}

	.rss-date {
		display: block;
		margin: 4px 0 8px;
		font-size: 14px;
	}

	.rssSummary {
		margin-bottom: 5px;
	}
}
