.wc-block-attribute-filter {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #111;

	.wc-block-attribute-filter-list {
		li {
			text-decoration: none;
		}
	}
}
