.rtl {
	.comment-list {
		.comment-author {
			float: right;
		}

		.comment-content {
			margin-left: 0;
			margin-right: 125px;
		}

		.comment-actions a,
		.comment-datetime {
			margin: 0 0 0 10px;
		}
	}
}
