.woocommerce-cart {
	.woocommerce-cart-form-wrapper {
		border: 1px solid #eee;
		border-radius: 5px;
		margin-bottom: 30px;
	}

	.shop_table {
		margin-bottom: 0;

		th, td {
			border: 0;
			background: none;
			text-align: left;
			padding-right: 10px !important;
		}

		tr {
			border-bottom: 1px solid #eee;

			&:last-child {
				border: 0;
			}
		}

		th {
			font-size: 15px;
			font-weight: 500;
			padding: 15px 0;
			line-height: 1.2;
			background: #f8f8f8;

			&.product-thumbnail {
				width: 130px;
			}
		}

		td {
			padding: 30px 0;
		}

		th,
		td {
			&:first-child {
				padding-left: 30px;
			}

			&:last-child {
				padding-right: 30px;
			}
		}

		.product-title {
			font-size: 15px;
			font-weight: 400;
			margin-bottom: 0;

			a {
				color: inherit;
			}
		}

		.product-price {
			.price,
			.amount {
				font-size: 15px;
				font-weight: 500;
			}
		}

		.product-subtotal {
			label {
				display: none;
			}

			.price,
			.amount {
				font-size: 15px;
				font-weight: 700;
			}
		}

		.product-remove {
			font-size: 18px;
		}
	}

	.btn-empty-cart,
	.btn-continue-shopping {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
	}

	.actions-buttons {
		flex-shrink: 0;
		display: flex;
		justify-content: flex-end;
	}

	.cart-collaterals-wrap {
		margin-top: 70px;
		padding-top: 30px;
		border-top: 1px solid #eee;
	}

	.shipping-heading,
	.coupon-heading {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 15px;
		margin-top: 18px;
	}

	.shipping-heading {
		margin-bottom: 15px;
	}

	.coupon-description {
		margin-bottom: 20px;
	}

	.coupon {
		label {
			display: none;
		}

		.input-text {
			margin-bottom: 20px;
		}
	}

	.cart {
		.product-thumbnail {
			img {
				border: 1px solid #eee;
				border-radius: 5px;
				width: 80px;
			}
		}
	}

	.cart-collaterals {
		.shop_table {
			th, td {
				padding: 12px 0;
			}

			td {
				text-align: right;
				padding-left: 10px;
				padding-right: 0 !important;
			}

			tr:not(.order-total) {
				th {
					font-size: 15px;
					font-weight: 400;
					background: none;
					color: #696969;
				}
			}
		}

		.woocommerce-shipping-methods {
			margin: 0;
		}

		.woocommerce-shipping-destination {
			margin: 0 0 5px;
		}

		.cart-discount {
			.amount {
				font-size: 15px;
				color: #696969;
			}
		}

		.order-total {
			td, th {
				padding-top: 25px;
				padding-bottom: 38px;
			}

			th {
				font-size: 18px;
			}

			.amount {
				font-size: 20px;
			}
		}
	}

	.custom-calculate-shipping-block {
		.package-name {
			display: none;
		}

		/*.woocommerce-shipping-methods {
			display: none;
		}*/

		.woocommerce-shipping-destination {
			display: none;
		}

		.shipping-calculator-button {
			display: none;
		}

		.shipping-calculator-form {
			display: block !important;
		}
	}

	.cart_totals {
		background: #f8f8f8;
		border-radius: 5px;
		padding: 25px 30px 40px;

		> h2 {
			display: none;
		}

		.woocommerce-shipping-destination {
			margin-bottom: 0;
		}

		.woocommerce-shipping-calculator {
			display: none;
		}
	}

	.checkout-button {
		width: 100%;
	}

	.empty-cart-messages {
		text-align: center;
	}

	.empty-cart-icon {
		svg {
			width: 250px;
			height: auto;
			margin: 0 auto 30px;
			transform: translateX(15px);
		}
	}

	.empty-cart-heading {
		font-size: 36px;
		font-weight: 400;
	}

	.return-to-shop {
		margin-top: 30px;
		text-align: center;
	}
}

.shipping-calculator-button {
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.38px;
	line-height: 1.5;
	display: inline-block;
}

.woocommerce {
	a.remove {
		display: inline-block;
		font-size: 20px;
		height: 1em;
		width: 1em;
		text-align: center;
		line-height: 1;
		border-radius: 100%;
		color: #d8d8d8;
		text-decoration: none;
		border: 0;

		&:hover {
			color: #222;
		}
	}
}

.shipping-calculator-form {
	margin-top: 10px;
}

.shipping-calculator-button {
	@extend %LinkTransition;
}

.btn-empty-cart {
	.tm-button.style-text {
		&.icon-left {
			.button-icon {
				margin-right: 8px;
			}
		}

		&:hover {
			.button-text {
				color: #333;
			}
		}

		.button-text {
			color: #9b9b9b;
		}
	}
}

.woocommerce-shipping-methods {
	padding: 0;
	margin: 0 0 20px;
	list-style-type: none;
}

@include media-breakpoint-down(sm) {
	.woocommerce-page {
		table.shop_table {
			thead {
				display: none;
			}

			tbody,
			th,
			td,
			tr {
				display: block;
			}

			tr {
				padding-bottom: 30px;
				margin-bottom: 30px;
			}

			td {
				padding: 0 !important;
			}

			.cart_item {
				position: relative;
				padding-left: 110px;
				min-height: 90px;
			}

			.product-quantity {
				margin-top: 10px;
			}

			.product-subtotal {
				margin: 10px 0;

				label {
					display: inline-block;
				}
			}

			.product-thumbnail {
				position: absolute;
				top: 0;
				left: 0;
			}

			.product-remove {
				text-align: left;
			}
		}
	}

	.woocommerce-cart {
		.cart-collaterals {
			margin: 40px 0 0;
		}
	}
}

@include media-breakpoint-down(xs) {
	.woocommerce-cart {
		.shop_table {
			.form-cart-actions-wrap {
				display: block;
			}

			.coupon {
				display: block;
				max-width: 100%;
			}

			.actions-buttons {
				display: block;
			}
		}

	}
}
