.rtl {
	.minimog-blog {
		.meta-icon {
			margin-right: 0;
			margin-left: 6px;
		}
	}
	.minimog-blog-list-03 {
		.post-title {
			a {
				padding: 0 30px 0 0;

				&:before,
				&:after {
					content: '\f30a';
					left: auto;
					right: 0;
				}

				&:after {
					transform: translateX(100%);
				}

				&:hover {
					&:before {
						transform: translateX(-100%);
					}

					&:after {
						transform: translateX(0);
					}
				}
			}
		}
	}
}
