label .big_title {
  cursor: auto; }

.customize-control-kirki .button.button-small {
  height: 29px; }

/*custom*/
li.customize-control {
  position: relative; }

li.customize-control hr {
  margin: 0 -20px 0; }

.group_title {
  margin: 10px -20px;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 14px;
  background: #222;
  color: #fff; }

#customize-controls {
  background-color: #fff; }
  #customize-controls .customize-control {
    margin-bottom: 25px; }
    #customize-controls .customize-control .description {
      color: #777; }

#customize-theme-controls .accordion-section-content,
#customize-outer-theme-controls .accordion-section-content {
  color: #333 !important; }

.customize-control-repeater .repeater-fields .repeater-row {
  background: none !important; }

#customize-controls #customize-theme-controls .accordion-section > .accordion-section-title > span + span,
#customize-controls .control-section .customize-section-title h3 > .dashicons {
  display: none; }

#customize-controls #customize-theme-controls .customize-info > .accordion-section-title {
  border-bottom: none !important; }

.control-section-themes .accordion-section-title,
#customize-controls .customize-info {
  margin: 0; }

.big_title {
  font-size: 20px;
  font-weight: 200;
  padding: 15px 20px 15px;
  margin: 0 -20px;
  color: #fff;
  margin-top: 30px;
  background: #111; }

.customize-control-kirki .desc {
  color: #555;
  font-size: 13px; }

.customize-control-kirki-radio-image input + label img {
  box-shadow: none !important;
  border: 0 !important;
  padding: 2px;
  background-color: #999;
  margin-right: 5px; }

.customize-control-kirki-radio-image input:checked + label img {
  background-color: #3498db; }

.customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-down:before, .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-up:before {
  line-height: 1.2; }

#customize-control-woocommerce_catalog_columns {
  display: none !important; }

.customize-control .wp-picker-container .wp-color-result.button {
  min-height: 0 !important; }
  .customize-control .wp-picker-container .wp-color-result.button .color-alpha {
    height: 22px !important; }
