.page-top-bar {
	z-index: 99999;
	border: 0 solid transparent;

	ul {
		z-index: 9999;
		list-style-type: none;
		padding: 0;
		line-height: 0;
		font-size: 0;
		margin: 0 0 5px;
	}

	li {
		list-style-type: none;
		margin: 0;
	}

	a {
		display: block;

		&.tm-button {
			display: inline-flex;
		}
	}

	.menu {
		li {
			position: relative;
		}
		> li {
			display: inline-block;
			margin-bottom: 0;
			> a {
				padding: 5px;
			}
		}

		.menu-item-has-children {
			&:hover {
				> .sub-menu {
					display: block;
				}
			}
		}

		.sub-menu {
			position: absolute;
			top: 100%;
			left: 0;
			display: none;
			min-width: 250px;
			width: 100%;
			background-color: #fff;
			box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
			a {
				padding: 10px 15px;
				+ a {
					border-top: 1px solid #eee;
				}
			}

			.sub-menu {
				top: 0;
				left: 100%;
			}
		}
	}

	.top-bar-tag {
		display: inline-block;
		padding: 1px 12px;
		margin: 0 10px 0 0;
		border-radius: 5px;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		background: #3751ee;
		color: #fff;
	}

	.switcher-language-wrapper {
		.wpml-ls {
			.wpml-ls-native {
				text-transform: none;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0;
			}

			.wpml-ls-item-toggle {
				padding: 0 10px 0 0;
			}
		}
	}
}

.top-bar-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -15px;
	margin-right: -15px;
	min-height: 40px;

	> * {
		padding: 7px 15px;

		+ * {
			position: relative;
			padding-left: 15px;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 20px;
				background: #dedfe2;
			}
		}
	}
}

.top-bar-right {
	.top-bar-wrap {
		justify-content: flex-end;
	}
}

.top-bar-center {
	.top-bar-wrap {
		justify-content: center;
	}
}

.top-bar-info {
	.info-list {
		margin: 0;
	}

	.info-item {
		position: relative;
		padding-bottom: 3px;
		padding-top: 2px;

		display: inline-block;
		line-height: 1;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}

		a {
			font-weight: 500;
			line-height: 1;
		}

		+ .info-item {
			padding-left: 15px;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 20px;
				background: #dedfe2;
			}
		}
	}

	.info-icon {
		font-size: 14px;
		margin-right: 5px;
		vertical-align: middle;
	}

	.info-text {
		vertical-align: middle;
	}
}

@include media-breakpoint-down(sm) {
	.top-bar-left,
	.top-bar-center,
	.top-bar-right {
		.top-bar-wrap {
			justify-content: flex-start;
		}
	}
}

@include media-breakpoint-down(sm) {
	.hide-top-bar-on-mobile {
		.page-top-bar {
			display: none;
		}
	}
}
