.elementor-editor-active {
	.page-header {
		pointer-events: none;

		* {
			pointer-events: none !important;
		}
	}
}

.elementor-element-editable {
	&.minimog-heading-wrapper-editing {
		.tm-modern-heading {
			outline: 1px dashed #eee;
		}
	}

	&.elementor-widget-tm-image-layers {
		.artboard {
			outline: 2px dashed #d5dadf;
		}
	}

	// Force showing swiper arrows on edit in editor.
	&.minimog-swiper-arrows-editing {
		.tm-swiper {
			.swiper-nav-button {
				transition-delay: 0s !important;
				opacity: 1 !important;
				visibility: visible !important;
			}
		}
	}

	&.minimog-map-marker-overlay-editing {
		.minimog-map-overlay-content {
			display: block !important;
		}
	}
}

.elementor-widget-tm-flip-box {
	&.minimog-flip-box--flipped {
		.elementor-widget-container {
			.front-side {
				display: none;
			}

			.back-side {
				-webkit-transform: none;
				-ms-transform: none;
				transform: none;
				opacity: 1;
			}
		}
	}
}
