.wp-block-search {
	margin: 0 0 30px;

	label {
		display: none;
	}

	.wp-block-search__input {
		width: auto;
	}

	.wp-block-search__button {
		flex-shrink: 0;
	}
}

@include media-breakpoint-down(sm) {
	.wp-block-search {
		display: block;

		.wp-block-search__input {
			width: 100%;
		}

		.wp-block-search__button {
			margin-left: 0;
			margin-top: 10px;
		}
	}
}
