.wp-block-tag-cloud {
	@extend %clearfix;
	margin: 0 0 30px;

	a {
		display: block;
		float: left;
		font-size: 13px !important;
		font-weight: 500;
		line-height: 1.5;
		padding: 7px 15px 6px;
		border-radius: 3px;
		background: #f5f5f5;
		color: #ababab;
		border: 0;
		margin: 5px;
		overflow: hidden;

		&:hover {
			color: #fff;
		}
	}
}
