input[type='checkbox'] {
	position: relative;
	background: transparent;
	border-width: 0;
	box-shadow: none;
	margin: 0 10px 0 3px;
	cursor: pointer;

	&:before {
		@extend %NormalTransition;
		content: '';
		display: block;
		width: 18px;
		height: 18px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 3px;
	}

	&:after {
		@extend %FontAwesomeRegular;
		@extend %NormalTransition;
		font-size: 14px;
		content: '\f00c';
		color: #fff;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%) scale(0);
	}

	&:hover {
		&:before {
			border-color: #333;
		}
	}

	&:checked {
		&:before {
			background: #333;
			border-color: transparent;
		}

		&:after {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}
