.minimog-pricing {
	.minimog-pricing-features {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
		}
	}

	.minimog-pricing-ribbon {
		position: absolute;
		top: -10px;
		right: 23px;
		padding: 3px 10px;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		background: #33ac2e;
		color: #fff;
	}
}

.minimog-pricing-style-01 {
	text-align: center;

	.inner {
		position: relative;
		height: 100%;
		margin: 0 auto;
		background-color: #fff;
		padding: 75px 30px 61px;
	}

	.minimog-pricing-header {
		z-index: 1;
		position: relative;
		margin-bottom: 39px;
	}

	.tm-button {
		width: 180px;
		max-width: 100%;
	}

	.price-wrap-inner {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	.minimog-pricing-price {
		font-size: 60px;
		font-weight: 500;
		line-height: .8;
		margin: 0;
	}

	.minimog-pricing-currency {
		font-size: 24px;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 0;
		align-self: flex-start;
		margin-right: 3px;
	}

	.minimog-pricing-period {
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		margin-bottom: 0;
		color: #ababab;
		align-self: flex-end;
	}

	.title {
		font-size: 24px;
		line-height: .8;
	}

	.minimog-pricing-features {
		font-size: 15px;
		max-width: 270px;
		margin: 29px auto 0;

		li {
			position: relative;
			display: block;
			padding: 7px 0;

			i {
				font-size: 16px;
				margin-right: 5px;
			}
		}
	}

	.minimog-pricing-footer {
		padding-top: 42px;
	}
}

.minimog-pricing-style-02 {
	.minimog-pricing {
		.inner {
			position: relative;
			height: 100%;
			margin: 0 auto;
			background-color: #fff;
			box-shadow: 0 20px 50px rgba(0, 0, 0, .05);
			padding: 25px 30px 37px;
		}

		.minimog-pricing-header {
			z-index: 1;
			position: relative;
			margin-bottom: 26px;
		}

		.minimog-pricing-body {
			margin-top: 33px;
			padding-top: 22px;
			border-top: 1px solid #eee;
		}

		.tm-button {
			width: 100%;
		}

		.price-wrap {
			color: #111;
		}

		.price-wrap-inner {
			display: flex;
			align-items: flex-start;
		}

		.minimog-pricing-price {
			font-size: 40px;
			line-height: 1;
			font-weight: 600;
			margin: 0;
		}

		.minimog-pricing-currency {
			font-size: 40px;
			line-height: 1;
			font-weight: 600;
		}

		.minimog-pricing-period {
			display: block;
			font-size: 15px;
			margin: 15px 0 0;
			color: #777;
		}

		.title {
			font-size: 18px;
			line-height: .8;
		}

		.minimog-pricing-features {
			font-size: 15px;

			li {
				position: relative;
				display: block;
				padding: 6px 0;

				i {
					font-size: 12px;
					margin-right: 14px;
				}
			}
		}

		.minimog-pricing-footer {
			padding-top: 30px;
		}
	}
}
