.elementor-widget-tm-testimonial-grid {
  .style-01 {
	 .testimonial-item {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 100%;
	 }

	 &.align-left {
		text-align: left;
	 }

	 &.align-right {
		text-align: right;
	 }

	 .testimonial-main-content {
		display: flex;
		justify-content: center;
	 }

	 .content-wrap {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 100%;
	 }

	 &.layout-image-inline {
		.avatar {
		  flex-shrink: 0;
		  margin: 0 20px 0 0;
		}

		.info {
		  display: inline-flex;
		  align-items: center;
		  text-align: left;
		}

		&.align-right {
		  .info {
			 text-align: right;
			 flex-direction: row-reverse;
		  }

		  .avatar {
			 flex-shrink: 0;
			 margin: 0 0 0 20px;
		  }

		  .testimonial-item {
			 text-align: right;
		  }
		}
	 }

	 &.layout-image-stacked {
		.avatar {
		  margin: 0 0 28px;
		}

		.info {
		  display: inline-block;
		}
	 }

	 &.layout-image-above {
		.avatar {
		  margin-bottom: 20px;
		}

		.cite {
		  display: block;
		  margin-top: 46px;
		}
	 }

	 &.image-position-above {
		.info {
		  padding: 0 0 19px;
		}
	 }

	 &.image-position-below {
		.info {
		  padding: 19px 0 0;
		}
	 }

	 &.image-position-bottom {
		.testimonial-main-content {
		  height: 100%;
		}

		.content-wrap {
		  display: inline-flex;
		  flex-direction: column;
		  height: 100%;
		  width: 100%;
		}

		.content {
		  flex-grow: 1;
		}

		.info {
		  padding: 60px 0 0;
		  flex-shrink: 0;
		}

		&.align-center {
		  .info {
			 justify-content: center;
		  }
		}
	 }

	 .thumbnail {
		margin-bottom: 38px;
	 }

	 .avatar {
		img {
		  width: 90px;
		  height: 90px;
		  border-radius: 50%;
		}
	 }

	 .text {
		font-style: italic;
	 }

	 .cite {
		font-style: normal;
	 }

	 .title {
		font-size: 21px;
		margin-bottom: 14px;
	 }

	 .testimonial-rating {
		font-size: 12px;
		color: #f5a623;
		letter-spacing: 4px;
		margin-bottom: 10px;
	 }

	 .name {
		display: block;
		font-size: 18px;
		line-height: 1.34;
		margin-bottom: 0;
	 }

	 .position {
		display: block;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1.38px;
		margin-top: 6px;
	 }
  }

  .style-02 {
	 font-family: CircularStd !important;

	 .testimonial-item {
		overflow: hidden;
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 100%;
		border-radius: 5px;
		border: 1px solid rgba(151, 151, 151, 0.37);


		&:hover {
		  border: none;

		  .thumbnail {
			 opacity: 1;
		  }

		  .testimonial-main-content {
			 opacity: 0;
		  }
		}

		&.align-left {
		  text-align: left;
		}

		&.align-right {
		  text-align: right;
		}

		.testimonial-main-content {
		  display: flex;
		  justify-content: center;
		  position: absolute;
		  top: 0;
		  left: 0;
		  margin-left: 12%;
		  margin-top: 12%;
		  padding-right: 13%;
		}

		.content-wrap {
		  position: relative;
		  display: inline-block;
		  width: 100%;
		  max-width: 100%;
		  background: url('assets/images/Quote.png') no-repeat top right;
		}

		&.layout-image-inline {
		  .avatar {
			 flex-shrink: 0;
			 margin: 0 20px 0 0;
		  }

		  .info {
			 display: inline-flex;
			 align-items: center;
			 text-align: left;
		  }

		  &.align-right {
			 .info {
				text-align: right;
				flex-direction: row-reverse;
			 }

			 .avatar {
				flex-shrink: 0;
				margin: 0 0 0 20px;
			 }

			 .testimonial-item {
				text-align: right;
			 }
		  }
		}

		&.layout-image-stacked {
		  .avatar {
			 margin: 0 0 28px;
		  }

		  .info {
			 display: inline-block;
		  }
		}

		&.layout-image-above {
		  .avatar {
			 margin-bottom: 20px;
		  }

		  .cite {
			 display: block;
			 margin-top: 46px;
		  }
		}

		&.image-position-above {
		  .info {
			 padding: 0 0 19px;
		  }
		}

		&.image-position-below {
		  .info {
			 padding: 19px 0 0;
		  }
		}

		&.image-position-bottom {
		  .testimonial-main-content {
			 height: 100%;
		  }

		  .content-wrap {
			 display: inline-flex;
			 flex-direction: column;
			 height: 100%;
			 width: 100%;
		  }

		  .content {
			 flex-grow: 1;
		  }

		  .info {
			 padding: 60px 0 0;
			 flex-shrink: 0;
		  }

		  &.align-center {
			 .info {
				justify-content: center;
			 }
		  }
		}

		.thumbnail {
		  opacity: 0;
		}

		.avatar {
		  img {
			 width: 60px;
			 height: 60px;
			 border-radius: 50%;
		  }
		}

		.text {
		  font-style: normal;
		  font-size: 20px;
		  line-height: 1.6;
		  color: #696969;
		}

		.cite {
		  font-style: normal;
		}

		.title {
		  font-size: 20px;
		  margin-bottom: 14px;
		  line-height: 1;
		  margin-top: 10px;
		}

		.testimonial-rating {
		  font-size: 12px;
		  color: #f5a623;
		  letter-spacing: 4px;
		  margin-bottom: 10px;
		}

		.name {
		  display: block;
		  font-size: 18px;
		  line-height: 1;
		  margin-bottom: 0;
		  margin-top: 56px;
		}

		.position {
		  display: block;
		  font-size: 15px;
		  font-weight: 400;
		  margin-top: 12px;
		  line-height: 1.2;
		  color: #7e7e7e;
		}
	 }
  }

  .style-03 {
	 font-family: CircularStd !important;

	 .testimonial-item {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 100%;
		height: 460px;
		overflow: hidden;


		&.align-left {
		  text-align: left;
		}

		&.align-right {
		  text-align: right;
		}

		.testimonial-main-content {
		  display: flex;
		  justify-content: center;
		  background: white;
		  border-radius: 5px;
		  border: 1px solid rgba(151, 151, 151, 0.37);
		  height: 100%;
		  background: url('assets/images/Quote.png') no-repeat 87% 10%;

		}

		.content-wrap {
		  position: absolute;
		  top: 0;
		  left: 0;
		  display: inline-block;
		  padding-top: 13%;
		  padding-right: 13%;
		  padding-left: 13%;
		  margin-bottom: 13%;
		  width: 100%;
		  max-width: 100%;
		  height: 100%;
		  overflow: hidden;
		}

		&.layout-image-inline {
		  .avatar {
			 flex-shrink: 0;
			 margin: 0 20px 0 0;
		  }

		  .info {
			 display: inline-flex;
			 align-items: center;
			 text-align: left;
		  }

		  &.align-right {
			 .info {
				text-align: right;
				flex-direction: row-reverse;
			 }

			 .avatar {
				flex-shrink: 0;
				margin: 0 0 0 20px;
			 }

			 .testimonial-item {
				text-align: right;
			 }
		  }
		}

		&.layout-image-stacked {
		  .avatar {
			 margin: 0 0 28px;
		  }

		  .info {
			 display: inline-block;
		  }
		}

		&.layout-image-above {
		  .avatar {
			 margin-bottom: 20px;
		  }

		  .cite {
			 display: block;
			 margin-top: 46px;
		  }
		}

		&.image-position-above {
		  .info {
			 padding: 0 0 19px;
		  }
		}

		&.image-position-below {
		  .info {
			 padding: 19px 0 0;
		  }
		}

		&.image-position-bottom {
		  .testimonial-main-content {
			 height: 100%;
		  }

		  .content-wrap {
			 display: inline-flex;
			 flex-direction: column;
			 height: 100%;
			 width: 100%;
		  }

		  .content {
			 flex-grow: 1;
		  }

		  .info {
			 padding: 60px 0 0;
			 flex-shrink: 0;
		  }

		  &.align-center {
			 .info {
				justify-content: center;
			 }
		  }
		}

		.thumbnail {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  height: 460px;
		  overflow: hidden;

		  img {
			 width: auto;
			 height: 100%;
			 border-radius: 5px;
		  }
		}

		.avatar {
		  img {
			 width: 60px;
			 height: 60px;
			 border-radius: 50%;
		  }
		}

		.text {
		  font-style: normal;
		  font-size: 20px;
		  line-height: 1.6;
		  color: #696969;
		}

		.cite {
		  font-style: normal;
		}

		.title {
		  font-size: 20px;
		  margin-bottom: 14px;
		  line-height: 1;
		  margin-top: 10px;
		}

		.testimonial-rating {
		  font-size: 12px;
		  color: #f5a623;
		  letter-spacing: 4px;
		  margin-bottom: 10px;
		}

		.name {
		  display: block;
		  font-size: 18px;
		  line-height: 1;
		  margin-bottom: 0;
		  margin-top: 56px;
		}

		.position {
		  display: block;
		  font-size: 15px;
		  font-weight: 400;
		  margin-top: 12px;
		  line-height: 1.2;
		  color: #7e7e7e;
		}
	 }
  }

  .style-04 {
	 .testimonial-item {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 100%;
		background-color: #ffffff;
		border-radius: 8px;
	 }

	 &.align-left {
		text-align: left;
	 }

	 &.align-right {
		text-align: right;
	 }

	 .testimonial-main-content {
		padding: 40px;
		display: flex;
		justify-content: center;
	 }

	 .content-wrap {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 100%;
	 }

	 &.layout-image-inline {
		.avatar {
		  flex-shrink: 0;
		  margin: 0 20px 0 0;
		}

		.info {
		  display: inline-flex;
		  align-items: center;
		  text-align: left;
		}

		&.align-right {
		  .info {
			 text-align: right;
			 flex-direction: row-reverse;
		  }

		  .avatar {
			 flex-shrink: 0;
			 margin: 0 0 0 20px;
		  }

		  .testimonial-item {
			 text-align: right;
		  }
		}
	 }

	 &.layout-image-stacked {
		.avatar {
		  margin: 0 0 28px;
		}

		.info {
		  display: inline-block;
		}
	 }

	 &.layout-image-above {
		.avatar {
		  margin-bottom: 20px;
		}

		.cite {
		  display: block;
		  margin-top: 46px;
		}
	 }

	 &.image-position-above {
		.info {
		  padding: 0 0 19px;
		}
	 }

	 &.image-position-below {
		.info {
		  padding: 19px 0 0;
		}
	 }

	 &.image-position-bottom {
		.testimonial-main-content {
		  height: 100%;
		}

		.content-wrap {
		  display: inline-flex;
		  flex-direction: column;
		  height: 100%;
		  width: 100%;
		}

		.content {
		  flex-grow: 1;
		}

		.info {
		  padding: 60px 0 0;
		  flex-shrink: 0;
		}

		&.align-center {
		  .info {
			 justify-content: center;
		  }
		}
	 }

	 .thumbnail {
		margin-bottom: 38px;
	 }

	 .avatar {
		img {
		  width: 90px;
		  height: 90px;
		  border-radius: 50%;
		}
	 }

	 .text {
		margin-bottom: 30px;

	 }

	 .cite {
		font-style: normal;
	 }

	 .title {
		font-size: 18px;
		margin-bottom: 14px;
	 }

	 .testimonial-rating {
		font-size: 12px;
		color: #f5a623;
		letter-spacing: 4px;
		margin-bottom: 10px;
	 }

	 .name {
		display: block;
		font-size: 15px;
		line-height: 1.34;
		margin-bottom: 0;
	 }

	 .position {
		display: block;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1.38px;
		margin-top: 6px;
	 }
  }
}

