.widget_price_filter {
	border-bottom: 2px solid #f3f3f3;
	padding-bottom: 24px;

	.price_slider {
		margin-bottom: 25px;
	}

	.price_slider_wrapper {
		.ui-widget-content {
			height: 5px;
			border-radius: 5px;
			background-color: #dbdbdb;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -.5em;
				right: -.5em;
				bottom: 0;
				background: inherit;
				border-radius: inherit;
			}
		}
	}

	.ui-slider-horizontal {
		.ui-slider-range {
			top: 0;
			height: 100%;
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;
		margin-left: .5em;
		margin-right: .5em;

		.ui-slider-range {
			position: absolute;
			z-index: 1;
			font-size: .7em;
			display: block;
			border: 0;
			border-radius: 1em;
			background: currentColor;
		}

		.ui-slider-handle {
			position: absolute;
			z-index: 2;
			border-radius: 1em;
			cursor: ew-resize;
			outline: 0;
			margin-left: -.5em;
			top: -7px;
			width: 19px;
			height: 19px;
			background: currentColor;
			box-shadow: 0 2px 11px rgba(0, 0, 0, .13);
		}
	}

	.price_slider_amount {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		align-items: center;
		line-height: inherit;

		.button {
			padding: 0 33px !important;
			height: 32px;
			line-height: 30px !important;
			background: #fff;
			border-color: transparent;
			border-radius: 16px;

			&:hover {
				color: #fff;
			}
		}

		.price_label {
			font-size: 14px;
			font-weight: 400;
			flex-grow: 1;
			color: #333;
		}
	}
}
